/*
Colores
#8b7171 #a68382 #393737 #bb8e8e #dfcbca

Tipografías
Roboto Slab (https://fonts.google.com/specimen/Roboto+Slab)
Alegreya (https://fonts.google.com/specimen/Alegreya)
Myanmar Khyay (https://es.ffonts.net/Myanmar-Khyay.font)
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab';
}

/* INDEX.html */


/* INDEX.html Header */

.cabecera {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.cabecera .seccion-1 {
    display: flex;
    color: white;
    padding: 5px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #542d2d;
    height: 70px;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cabecera .seccion-1 h1 {
    margin-left: 105px;
}

.cabecera .seccion-1 a {
    color: white;
}

.contenedor-logo {
    width: 100px;
    position: absolute;
}

.contenedor-logo img {
    width: 90%;    
    border-radius: 20%;
}

.seccion-1 nav {
    display: flex;
}

.cabecera .seccion-2 {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #dfcbca;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cabecera .seccion-3 {
    background-color: rgba(139, 67, 67, 0.8);
    width: 80%;
    margin: auto;
    margin-top: -15px;
}

.cabecera .seccion-3 input {
    padding: 5px;
}

.cabecera .seccion-3 button {
    height: 90%;
    width:50px;
}

/* INDEX.html main */

main {
    background: #ebebeb;
    text-align: center;
}

.banner {
    background: aqua;
    height: 70vh;
}

.banner img{
    width: 100%;
    height: 100%;
}

main section {
    display: flex;

    height: 50%;
    background: white;
    padding: 10pt;
    margin: auto;

    flex-wrap: wrap;


}

main section article {

    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10pt;
    -webkit-box-shadow: 0px 2px 24px 0px #000000;
    box-shadow: 0px 2px 24px 0px #000000;

}

main section article :hover{
    -webkit-box-shadow: 0px 2px 24px 0px #000000;
    box-shadow: 0px 2px 24px 0px #6fbed6;
}

main section article img {
    width: 100%;
    height: 80%;
}

/* INDEX.html Footer */
footer {
    width: 100%;
    display: flex;
    background: rgba(139, 67, 67, 1);
    text-align: center;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    
   
 
}

footer section{
    width: 350px;
    height: 250px;
    padding: 10px;
    border: 2px solid #542d2d;;
    
}

footer section .contenedor-logo-footer{

  


}

footer section .contenedor-logo-footer img{
    display: flex;
    width: 40%;
    margin: auto;
    padding: 5pt;
    border-radius: 50%; 


}

.div-redes{
    padding: 5px;
    height: 30px;
    color: white
    
}

.div-redes i{

    color: white;
    font-size: 20px;
}



footer p {
    width: 100%;
}

footer p i {
    color: white
}


/* PRODUCTCART.html */

.main_cart .carrito_content {
    background-color: white;



}

.main_cart .carrito_content .carrito_head {
    display: flex;
    width: 100vw;
    height: 7vw;
    align-items: center;
    margin: auto;
    padding: 2px;
    background-color: rgba(156, 85, 242, 1);

}

.main_cart .carrito_content .carrito_head h2 {
    margin: auto;
    font-size: large;
    color: white;
}

.main_cart .carrito_content .product .encabezado {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 2px;

}

.main_cart .carrito_content .product .encabezado h2 {
    display: flex;
    font-size: medium;
    flex-direction: row;
    padding: 5px;
    margin: auto;

}

.main_cart .carrito_content .product .product_detail {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 2px;
    border-top: 1px solid;
    border-bottom: 1px solid;

}

.main_cart .carrito_content .product .product_detail p {
    width: 95%;
    font-size: medium;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding: 2px;
    justify-content: center;
    margin: auto;
}

.main_cart .carrito_content .product .product_detail p img {
    width: 25vw;
    display: flex;
    flex-direction: row;
    padding: 2px;

}

.main_cart .carrito_content .notasytotal {
    display: flex;
}

.main_cart .carrito_content .notasytotal .notas {
    width: 50%;
    flex-direction: column;
    padding: 2px;
    margin-left: 4px;
}

.main_cart .carrito_content .notasytotal .notas p {

    display: flex;
    padding: 2px;

}

.main_cart .carrito_content .notasytotal .notas textarea {

    display: flex;
    padding: 2px;
    color: gray;
    font-size: 12px;


}

.main_cart .carrito_content .notasytotal .total {
    width: 50%;
    display: flex;
    margin-left: 2px;
    flex-direction: column;
    padding: 2px;
}

.main_cart .carrito_content .notasytotal .total p {

    display: flex;
    padding: 2px;
}

.main_cart .carrito_content .notasytotal .total button {

    background-color: rgba(87, 103, 247, 1);
    border: none;
    color: #fff;
    font-weight: normal;
    font-size: 20px;


}

.main_cart .carrito_content .notasytotal .total p .cbox1 {
    margin: 0;
}






/* PRODUCTDETAIL.html */

.main_productDetailt .producto_info {
    background-color: white;

}

.main_productDetail .producto_info .productdescript {
    background: white;
    display: flex;
    flex-direction: row;
    margin-top:20px ;
}

.main_productDetail .producto_info .productdescript .producto {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .producto img {
    width: 400px;
    height: 400px;
    
}

.main_productDetail .producto_info .productdescript .producto p {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .miniatura {
    padding: 10px; 
    width: 100px;
    height: 100px;
}
.main_productDetail .producto_info .productdescript .miniatura img {
    width: 100%;
    
}

.main_productDetail .producto_info .productdescript .description {
    width: 50vw;
}

.main_productDetail .producto_info .productdescript .description .uno {
    display: flex;
    flex-direction: row;
    margin: 10px;
    
}

.main_productDetail .producto_info .productdescript .description .uno i {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .description .uno img {
    margin: auto;
    width: 40px;
    height: 40px;
}

.main_productDetail .producto_info .productdescript .description .uno p {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .description .uno .cajita {
   border: rgba(237, 121, 83, 1) solid; 
   background-color: rgba(237, 121, 83, 1);
   color: #fff;
}

.main_productDetail .producto_info .productdescript .description .uno .quantity {
    display: flex;
    flex-direction: row;
    margin: auto;
}
.main_productDetail .producto_info .productdescript .description .uno .quantity input {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.main_productDetail .producto_info .productdescript .description .dos {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.main_productDetail .producto_info .productdescript .description .dos i {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .description .dos img {
    margin: auto;
    width: 40px;
    height: 40px;
}

.main_productDetail .producto_info .productdescript .description .dos p {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .description .dos .cajita {
    border: rgba(237, 121, 83, 1) solid; 
    background-color: rgba(237, 121, 83, 1);
    color: #fff;
}

.main_productDetail .producto_info .productdescript .description .dos .quantity{
    display: flex;
    flex-direction: row;
    
    
}

.main_productDetail .producto_info .productdescript .description .tres {
    display: flex;
    flex-direction: row;
    margin: 10px;
    

}

.main_productDetail .producto_info .productdescript .description .tres i {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .description .tres img {
    margin: auto;
    width: 40px;
    height: 40px;
    
}

.main_productDetail .producto_info .productdescript .description .tres p {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .description .tres .cajita {
    border: rgba(237, 121, 83, 1) solid; 
    background-color: rgba(237, 121, 83, 1);
    color: #fff;
}

.main_productDetail .producto_info .productdescript .description .tres .quantity {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.main_productDetail .producto_info .productdescript .description .comprar_ahora {
    margin-top: 20px;
}
.main_productDetail .producto_info .productdescript .description .comprar_ahora {
    margin-top: 20px;
}
.main_productDetail .producto_info .productdescript .description .comprar_ahora {
    margin-top: 20px;
}
.main_productDetail .producto_info .productdescript .description .comprar_ahora .button-comprarAhora {
    margin-top: 20px;
    color: #fff;
    background-color: rgba(163, 73, 164, 1);
    border: none;
    font-weight: bold;
}
.main_productDetail .producto_info .productdescript .description .comprar_ahora .button-AgregarCarrito {
    margin-top: 20px;
    color: #fff;
    background-color: rgba(87, 103, 247, 1);
    border: none;
    font-weight: bold;
}

.main_productDetailt .producto_info .descripcion_detalle {
    background-color: white;
    display: flex;
    

}
.main_productDetailt .producto_info .descripcion_detalle h2 {
        
    display: flex;
    flex-direction: row;

}

/* REGISTER.html */

.main-register {
    width: 90vw;
    margin: 30px auto;
    padding: 4px;
    background-color: #fff;
    border: rgba(57, 55, 55, 0.3) solid 2px;
    color: #000;
}

.main-register h3 {
    margin: 8px;
    font-family: 'Myanmar Khyay';
    text-align: left;
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.form-register label,
input,
p {
    margin: 2px;
    width: 80%;
    padding: 10px;
}

.form-register a {
    margin-left: 8px;
}

.button-register {
    color: #fff;
    background-color: rgba(163, 73, 164, 1);
    border: none;
    font-weight: bold;
}

@media (min-width: 481px) {
    .main-register {
        width: 430px;
    }
}

/* LOGIN.html */
.main-login {
    width: 90vw;
    margin: 30px auto;
    padding: 4px;
    background-color: #fff;
    border: rgba(57, 55, 55, 0.3) solid 2px;
    color: #000;
}

.main-login h3 {
    margin: 8px;
    font-family: 'Myanmar Khyay';
    text-align: left;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.form-login label,
input,
p {
    margin: 2px;
    width: 80%;
    padding: 10px;
}

.form-login a {
    margin-left: 8px;
}

.button-login {
    color: #fff;
    background-color: rgba(163, 73, 164, 1);
    border: none;
    font-weight: bold;
}

/* NEWPRODUCTS.html */

@media (min-width: 481px) {
    .main-login {
        width: 430px;
    }
}

@media(min-whidt:481px){
    .cabecera .seccion-2{
        justify-content: end;
        
    }
}