<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <article class="article-new-pruducts" >
                <main class="main-edit-pruducts">
                    <h3>EDITAR PRODUCTO</h3>
                    <form action="#" class="form-edit-pruducts">
                        <label for="name-edit-user" id="name-edit-product">Nombre del producto:</label>
                        <input type="text" name="name-edit-product" id="name-edit-product" required>

                        <label for="description-edit-product" id="description-edit-product">Descripción:</label>
                        <input type="text" name="description-edit-product" id="description-edit-product" required>

                        <label for="category-edit-product" id="category-edit-product">Imagen</label>
                        <input type="file" name="category-edit-product" id="category-edit-product"
                            accept="image/png, image/jpeg" required>

                        <label for="category-edit-product" id="category-edit-product">Categoría</label>
                        <select name="category-edit-product" id="category-edit-product">
                            <option value="">Elija una categoría</option>
                            <option value="lotion">Loción</option>
                            <option value="oil">Aceite</option>
                            <option value="liquid">Líquido</option>
                            <option value="gel">Gel</option>
                            <option value="cream">Crema</option>
                        </select>

                        <label for="ml-edit-product" id="ml-edit-product">Cantidad</label>
                        <input type="number" name="ml-edit-product" id="ml-edit-product" required>

                        <label for="ml-edit-product" id="ml-edit-product">Tipo de Cantidad</label>
                        <select name="category-edit-product" id="category-edit-product">
                            <option value="">Elija un tipo de cantidad</option>
                            <option value="ml">Milílitros (ml.)</option>
                            <option value="fl.oz">Onzas fluidas (fl. oz.)</option>
                        </select>

                        <label for="price-edit-product" id="price-edit-product">Precio</label>
                        <input type="number" name="price-edit-product" id="price-edit-product" required>

                        <select name="discount-edit-product" id="discount-edit-product">
                            <option value="">Elija descuento</option>
                            <option value="5">5 %</option>
                            <option value="10">10 %</option>
                            <option value="15">15 %</option>
                            <option value="20">20 %</option>
                            <option value="25">25 %</option>
                            <option value="30">30 %</option>
                            <option value="35">35 %</option>
                            <option value="40">40 %</option>
                            <option value="45">45 %</option>
                            <option value="50">50 %</option>
                            <option value="55">55 %</option>
                            <option value="60">60 %</option>
                        </select>

                        <input type="submit" class="button-edit-produt" value="Editar el producto">

                        <p>Agregar un producto <a href="/newProducts">Ingresa aquí</a></p>
                    </form>
                </main>
            </article>
            <%- include('./partials/footer') %>
    </body>

</html>