<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" /> 
    <title>Parfum Léngede</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>


<body>

    <header class="cabecera">

        <section class="seccion-1">

            <div class="contenedor-logo">
               <a href=""> <img src="./images/Logo-rape-claro.png" alt="Logo de Parfum Légende"></a> 

            </div>
            <H2>Parfum Légende</H2>
            <p>
                <a class="logo-facebook" href="">  <i class="fab fa-facebook"></i></a>
                <a class="logo-instagram" href=""> <i class="fab fa-instagram"></i></a>
                <a class="logo-whatsapp" href="">  <i class="fab fa-whatsapp"></i></a>
            </p>

        </section >


        

        <section class="seccion-2">
            <nav>
                
                    <p><a href="/register"   ><i class="fas fa-user"></i></a></p>
                    <p><a href="/login"      ><i class="fas fa-sign-in-alt"></i></a></p>
                    <p><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></p>
               
            </nav>
        </section>

    </header>



    <main>
        <div>
            <h1>Nuevo</h1>
        </div>
        
  
        <section  >

            <article>
                <h2>Ralph Lauren</h2>
                <a href="/productDetail"><img src="/images/1.jpeg" alt=""></a>
            </article>
            <article>
                <h2>Dior</h2>
                <a href="/productDetail"><img src="/images/2.jpeg" alt=""></a>
                
            </article>
            <article>
                <h2>Halloween</h2>
                <a href="/productDetail"><img src="/images/3.jpeg" alt=""></a>
            </article>

            <article>
                <h2>Tous LoveMe</h2>
                <a href="productDetail"><img src="/images/4.jpeg" alt=""></a>
                
            </article>
           
           

        </section>

        <div>
            <h1>Ofertas</h1>
        </div>

        
        <section>

            <article>
                <h2>Indecent</h2>
                <a href="productDetail"><img src="/images/5.jpeg" alt=""></a>
                
            </article>

            <article>
                <a href="productDetail"><img src="/images/7.jpeg" alt=""></a>
                <h2>Farenheit</h2>
                
            </article>
            <article>
                <a href="productDetail"><img src="/images/8.jpg" alt=""></a>
                <h2>Olimpia</h2>
                
            </article>
            <article>
                <a href="productDetail"><img src="/images/dolce&gabana.jfif" alt=""></a>
                <h2>Dolce & Gabana</h2>
                
            </article>
            
            
            
        </section>


    </main>

    <footer>
        
        <P>Contáctenos</P>
        <p>
            <a class="logo-facebook" href="">  <i class="fab fa-facebook"></i></a>
            <a class="logo-instagram" href=""> <i class="fab fa-instagram"></i></a>
            <a class="logo-whatsapp" href="">  <i class="fab fa-whatsapp"></i></a>
        </p>

        <p>Copyright © 2021 Parfum Légende</p>

    </footer>
</body>


</html>