<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Parfum Léngede</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>

        <H1>Bienvenido, a Parfum Légende</H1>
        <section>Redes sociales </section>

    </header>

    <section>
        <img src="/img/Banner.jfif" alt="">

        <h2>Informacion de la Pagina</h2>
    </section>

    <nav>
        <ul>
            <li><a href="/register"> Crear tu cuenta</a></li>
            <li><a href="/login"> Ingresar</a></li>
            <li><a href="/productCart"> Carrito</a></li>
        </ul>
    </nav>

    <footer>
        <h2>Footer de la página</h2>
        <P>Contáctenos</P>
    </footer>
</body>

</html>