<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Parfum Léngede</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <H1>Bienvenido, a Parfum Légende</H1>
        <section>Redes sociales </section>
        <div>
            <img src="./images/Logo-rape-claro.png" alt="Logo de Parfum Légende">
        </div>
    </header>

    <section>
        <img src="/img/Banner.jfif" alt="">

        <h2>Informacion de la Pagina</h2>
    </section>

    <main>
        <h4>INGRESA</h4>
        <form action="#" class="form-login">
            <label for="email-user" id="email-user">Email*</label>
            <input type="email" name="email-user" id="email-user" required>

            <label for="password-user" id="password-user">Contraseña*</label>
            <input type="password" name="password-user" id="password-user" required>

            <p>¿Nuevo cliente?<a href="/register">Crear cuenta</a></p>

            <p>¿Olvidaste tu contraseña?<a href="#">Recuperar contraseña</a></p>

            <input type="submit" class="button-login" value="Ingresar">
        </form>
    </main>

    <footer>
        <h2>Footer de la página</h2>
        <P>Contáctenos</P>
    </footer>
</body>

</html>