<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Parfum Léngede</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <header class="cabecera">

        <section class="seccion-1">

            <div class="contenedor-logo">
               <a href="/"> <img src="./images/Logo-rape-claro.png" alt="Logo de Parfum Légende"></a> 
               <H2>Parfum Légende</H2>
            </div>
            <div>
                
            </div>
            
            <div>
                <p>
                    <a class="logo-facebook" href="">  <i class="fab fa-facebook"></i></a>
                    <a class="logo-instagram" href=""> <i class="fab fa-instagram"></i></a>
                    <a class="logo-whatsapp" href="">  <i class="fab fa-whatsapp"></i></a>
                </p>
            </div>


        </section >

        <section class="seccion-2">
            <nav>
                
                    <p><a href="/register"   ><i class="fas fa-user"></i></a></p>
                    <p><a href="/login"      ><i class="fas fa-sign-in-alt"></i></a></p>
                    <p><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></p>
               
            </nav>
        </section>

    </header>

    <main class="main-login">
        <h3>INGRESA</h3>
        <form action="#" class="form-login">
            <label for="email-user" id="email-user">Email*</label>
            <input type="email" name="email-user" id="email-user" required>

            <label for="password-user" id="password-user">Contraseña*</label>
            <input type="password" name="password-user" id="password-user" required>

            <p>¿Nuevo cliente?<a href="/register">Crear cuenta</a></p>

            <p>¿Olvidaste tu contraseña?<a href="#">Recuperar contraseña</a></p>

            <input type="submit" class="button-login" value="Ingresar">
        </form>
    </main>

    <footer>
        
        <P>Contáctenos</P>
        <p>
            <a class="logo-facebook" href="">  <i class="fab fa-facebook"></i></a>
            <a class="logo-instagram" href=""> <i class="fab fa-instagram"></i></a>
            <a class="logo-whatsapp" href="">  <i class="fab fa-whatsapp"></i></a>
        </p>

        <p>Copyright © 2021 Parfum Légende</p>

    </footer>
</body>

</html>