<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>   
    <%- include('./partials/header') %>
    <main class="main-login">
        <h3>INGRESA</h3>
        <form action="#" class="form-login">
            <label for="email-user" id="email-user">Email*</label>
            <input type="email" name="email-user" id="email-user" required>

            <label for="password-user" id="password-user">Contraseña*</label>
            <input type="password" name="password-user" id="password-user" required>

            <p>¿Nuevo cliente?<a href="/register">Crear cuenta</a></p>

            <p>¿Olvidaste tu contraseña?<a href="#">Recuperar contraseña</a></p>

            <input type="submit" class="button-login" value="Ingresar">
        </form>
    </main>
    <%- include('./partials/footer') %>
</body>

</html>