<!DOCTYPE html>
<html lang="es">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main class="container">

                <figure class="container">
                    <img src="/img/mantenimiento.png" alt="Página en mantenimiento">
                </figure>
            </main>
    </body>

</html>