<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main class="main-new-pruducts">
                <article class="article-new-pruducts">
                    <h3>NUEVO PRODUCTO</h3>
                    <form action="#" method="post" class="form-new-pruducts">
                        <label for="name-new-user" id="name-new-product">Nombre:</label>
                        <input type="text" name="name-new-product" id="name-new-product" required>

                        <label for="description-new-product" id="description-new-product">Descripción:</label>
                        <input type="textarea" name="description-new-product" id="description-new-product" required>


                        <label for="category-new-product" id="category-new-product">Imagen</label>
                        <input type="file" name="category-new-product" id="category-new-product"
                            accept="image/png, image/jpeg" required>

                        <label for="category-edit-product" id="category-edit-product">Categoría</label>
                        <select name="category-edit-product" id="category-edit-product">
                            <option value="">Elija una categoría</option>
                            <option value="lotion">Loción</option>
                            <option value="oil">Aceite</option>
                            <option value="liquid">Líquido</option>
                            <option value="gel">Gel</option>
                            <option value="cream">Crema</option>
                        </select>

                        <label for="ml-new-product" id="ml-new-product">Cantidad</label>
                        <input type="number" name="ml-new-product" id="ml-new-product" required>

                        <label for="ml-new-product" id="ml-new-product">Tipo de Cantidad</label>
                        <select name="category-new-product" id="category-new-product">
                            <option value="">Elija un tipo de cantidad</option>
                            <option value="ml">Milílitros (ml.)</option>
                            <option value="fl.oz">Onzas fluidas (fl. oz.)</option>
                        </select>

                        <label for="price-new-product" id="price-new-product">Precio</label>
                        <input type="number" name="price-new-product" id="price-new-product" required>
                        <label for="discount-new-product" id="discount-new-product">Descuento</label>


                        <select name="discount-new-product" id="discount-new-product">
                            <option value="">Elija descuento</option>
                            <option value="5">5 %</option>
                            <option value="10">10 %</option>
                            <option value="15">15 %</option>
                            <option value="20">20 %</option>
                            <option value="25">25 %</option>
                            <option value="30">30 %</option>
                            <option value="35">35 %</option>
                            <option value="40">40 %</option>
                            <option value="45">45 %</option>
                            <option value="50">50 %</option>
                            <option value="55">55 %</option>
                            <option value="60">60 %</option>
                        </select>
                

                        <input type="submit" class="button-new-produt" value="Agregar el producto">

                        <p>Editar un producto <a href="/editProducts">Ingresa aquí</a></p>
                    </form>
                </article>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>