<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Parfum Léngede</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

    <body>
        <header>
            <H1>Bienvenido, a Parfum Légende</H1>
            <section>Redes sociales </section>
            <div>
                <img src="./images/Logo-rape-claro.png" alt="Logo de Parfum Légende">
            </div>
        </header>

        <section>
            <img src="/img/Banner.jfif" alt="">

            <h2>Informacion de la Pagina</h2>
        </section>
        <main class="main_productDetail">
            <h2> Detalle producto </h2>
            <div class="producto_info">
                <article class="producto">
                    <img src="./images/olympea-legend-parfum.jpg" alt="Olympea Legend">
                    <div class="caracteristics-article">
                        <i class="far fa-heart"></i>
                        <div class="for-pay">
                            <p class="precios">$6.770</p>
                            <p class="off">40% off</p>
                        </div>
                        <p class="descripcion">Olympea</p>
                    </div>
                </article>
                <section class="for-buy"> 

                    <div class="quantity"> <input type="button" value="-" class="minus">  <label
                            class="screen-reader-text" for="quantity_61784a0446a52"></label>
                        <input type="number" id="quantity_61784a0446a52" class="input-text qty text" step="1" min="1"
                            max="99" name="quantity" value="1" title="Cantidad" size="4" placeholder=""
                            inputmode="numeric">
                        <input type="button" value="+" class="plus">
                    </div>

                    <button type="submit" name="add-to-cart" value="43356"
                        class="single_add_to_cart_button button alt">Añadir al carrito</button>

                </section>

                <section class="descripcion">

                </section>


            </div>


        </main>

        <footer>
            <h2>Footer de la página</h2>
            <P>Contáctenos</P>
        </footer>

    </body>
</body>

</html>