<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Parfum Léngede</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <body>
        <header class="cabecera">

            <section class="seccion-1">
                <div class="contenedor-logo">
                    <a href="/"> <img src="./images/logo/PL_Fondo_rape_oscuro.png" alt="Logo de Parfum Légende"></a>
                </div>
                <H1>Parfum Légende</H1>
                <nav>
                    <p><a href="/register"><i class="fas fa-user"></i></a></p>
                    <p><a href="/login"><i class="fas fa-sign-in-alt"></i></a></p>
                    <p><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></p>
                </nav>
            </section>
    
            <section class="seccion-2">
                <p>¡Compra desde casa y paga contra entrega!</p>
            </section>
    
            <section class="seccion-3">
                <form action="#" method="get">
                    <input type="search" value="search">                
               </form>
            </section>
    
        </header>

        <main class="main_productDetail">
            <h2> Detalle producto </h2>
            <div class="producto_info">

                <div class="productdescript">

                    <article class="producto">
                        <img src="./images/8.jpg" alt="Olympea Legend">
                        <p class="descripcion">Olympea</p>

                    </article>

                    <div class="miniatura">
                        <img src="./images/8.jpg" alt="Olympea Legend">
                        <img src="./images/9.jpg" alt="Olympea amarillo">

                    </div>

                    <div class="description">
                        <div class="uno">
                            <i class="far fa-heart"></i>
                            <p>200 ml</p>
                            <p class="cajita">-30%</p>
                            <p>$250.000</p>
                            <p class="quantity"> <input type="button" value="-" class="minus"> <label
                                    class="screen-reader-text" for="quantity_61784a0446a52"></label>
                                <input type="number" id="quantity_61784a0446a52" class="input-text qty text" step="1"
                                    min="1" max="99" name="quantity" value="1" title="Cantidad" size="4" placeholder=""
                                    inputmode="numeric">
                                <input type="button" value="+" class="plus">

                            </p>

                        </div>
                        <div class="dos">
                            <i class="far fa-heart"></i>
                            <p>150 ml</p>
                            <p class="cajita">-25%</p>
                            <p>$150.000</p>
                            <p class="quantity"> <input type="button" value="-" class="minus"> <label
                                    class="screen-reader-text" for="quantity_61784a0446a52"></label>
                                <input type="number" id="quantity_61784a0446a52" class="input-text qty text" step="1"
                                    min="1" max="99" name="quantity" value="1" title="Cantidad" size="4" placeholder=""
                                    inputmode="numeric">
                                <input type="button" value="+" class="plus">

                            </p>

                        </div>
                        <div class="tres">
                            <i class="far fa-heart"></i>                            
                            <p>100 ml</p>
                            <p class="cajita">-25%</p>
                            <p>$100.000</p>
                            <p class="quantity"> <input type="button" value="-" class="minus"> <label
                                    class="screen-reader-text" for="quantity_61784a0446a52"></label>
                                <input type="number" id="quantity_61784a0446a52" class="input-text qty text" step="1"
                                    min="1" max="99" name="quantity" value="1" title="Cantidad" size="4" placeholder=""
                                    inputmode="numeric">
                                <input type="button" value="+" class="plus">

                            </p>

                        </div>


                    </div>
                    <div class="comprar ahora">
                        <input type="submit" class="button-login" value="Comprar Ahora">
                        <input type="submit" class="button-login" value="Agregar al carrito">

                    </div>


                </div>


                <section class="for-buy">



                </section>




            </div>


        </main>

        <footer>

            <P>Contáctenos</P>
            <p>
                <a class="logo-facebook" href=""> <i class="fab fa-facebook"></i></a>
                <a class="logo-instagram" href=""> <i class="fab fa-instagram"></i></a>
                <a class="logo-whatsapp" href=""> <i class="fab fa-whatsapp"></i></a>
            </p>

            <p>Copyright © 2021 Parfum Légende</p>

        </footer>

    </body>
</body>

</html>