<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Parfum Léngede</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header class="cabecera">

        <section class="seccion-1">

            <div class="contenedor-logo">
               <a href=""> <img src="./images/Logo-rape-claro.png" alt="Logo de Parfum Légende"></a> 

            </div>
            <H2>Parfum Légende</H2>
            <p>
                <a class="logo-facebook" href="">  <i class="fab fa-facebook"></i></a>
                <a class="logo-instagram" href=""> <i class="fab fa-instagram"></i></a>
                <a class="logo-whatsapp" href="">  <i class="fab fa-whatsapp"></i></a>
            </p>

        </section >


        

        <section class="seccion-2">
            <nav>
                
                    <p><a href="/register"   ><i class="fas fa-user"></i></a></p>
                    <p><a href="/login"      ><i class="fas fa-sign-in-alt"></i></a></p>
                    <p><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></p>
               
            </nav>
        </section>

    </header>

    <section>
        <img src="/img/Banner.jfif" alt="">

        <h2>Informacion de la Pagina</h2>
    </section>

    <main class="main_cart">
        <div class="carrito_content">
            <section class="carrito_head">
                <h2>CARRITO</h2>
            </section>

            <div class="product">
                <div class="encabezado">
                    <h2>PRODUCTO</h2>
                    <h2>PRECIO</h2>
                    <h2>CANTIDAD</h2>
                    <h2>TOTAL</h2>
                </div>
                <div class="product_detail">
                    <p><img src="./images/8.jpg" alt="Olympea Legend"> <i class="far fa-edit"></i><i
                            class="far fa-trash-alt"></i></p>
                    <p class=>$250.000</p>
                    <p class="quantity"> <input type="button" value="-" class="minus"> <label class="screen-reader-text"
                            for="quantity_61784a0446a52"></label>
                        <input type="number" id="quantity_61784a0446a52" class="input-text qty text" step="1" min="1"
                            max="99" name="quantity" value="1" title="Cantidad" size="4" placeholder=""
                            inputmode="numeric">
                        <input type="button" value="+" class="plus">

                    </p>
                    <p class=>$250.000</p>

                </div>


            </div>

            <div class="notasytotal">

                <div class="notas">
                    <p>Agregar notas a la orden</p>
                    <textarea name="comentarios" id="cartSpecialIstruccions" cols="30"
                        rows="10"> ¿Esta compra es un regalo? Agrega una nota aquí para enviar con el producto.</textarea>
                    <p>Cupón: tu código de cupón se aplicará al ir a pagar</p>
                    <textarea name="cupon" id="cartCupon" cols="30" rows="3"> Codigo Cupón</textarea>

                </div>
                <div class="total">

                    <h2> SUBTOTAL: $250.000 </h2>
                    <p> IVA incluido. Envío y descuentos agregados al ir a pagar.</p><br>
                    <p><input type="checkbox" id="cbox1" value="first_checkbox"> Acepto términos y condiciones </p>
                    <button type="ir_a_pagar">Ir a pagar</button>
                </div>



            </div>




        </div>


    </main>

    <footer>
        
        <P>Contáctenos</P>
        <p>
            <a class="logo-facebook" href="">  <i class="fab fa-facebook"></i></a>
            <a class="logo-instagram" href=""> <i class="fab fa-instagram"></i></a>
            <a class="logo-whatsapp" href="">  <i class="fab fa-whatsapp"></i></a>
        </p>

        <p>Copyright © 2021 Parfum Légende</p>

    </footer>

</body>

</html>