/*
Colores
#8b7171 #a68382 #393737 #bb8e8e #dfcbca

Tipografías
Roboto Slab (https://fonts.google.com/specimen/Roboto+Slab)
Alegreya (https://fonts.google.com/specimen/Alegreya)
Myanmar Khyay (https://es.ffonts.net/Myanmar-Khyay.font)
*/



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab';
}


body{
    background: #9796f0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fbc7d4, #f096dc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fbc7d4, #f096dc); 
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/* INDEX.html */



/* INDEX.html Header */

.cabecera {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.avatar img {
    width: 10vh;
    height: 10vh;

}

.cabecera .seccion-1 {
    display: flex;
    color: white;
    padding: 5px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #542d2d;
    height: 70px;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cabecera .seccion-1 h1 {
    margin-left: 105px;
}

.cabecera .seccion-1 a {
    color: white;
}

.contenedor-logo {
    width: 100px;
    position: absolute;
}

.contenedor-logo img {
    width: 90%;
    border-radius: 20%;
}

.seccion-1 nav {
    display: flex;
}

.cabecera .seccion-2 {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #dfcbca;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cabecera .seccion-3 {
    background-color: rgba(139, 67, 67, 0.8);
    width: 80%;
    height: 70px;
    margin: auto;
    margin-top: -15px;
}

.cabecera .seccion-3 .search {
    width: 45%;
    display: flex;
    justify-content: center;

}

.cabecera .seccion-3 .search .search-bar {

    border: none;
    border-radius: 5px 0px 0px 5px;
    padding: 9px;
    font-size: 14px;
    height: 24px;
    transition: .15s ease all;
    
}

.cabecera .seccion-3 .search .search-bar:focus {
    outline: 0;
    box-shadow: none;
    background-color: #efefef;
    padding-left: 9px;
    border-right: #dbdbdb solid 1px;

}

.cabecera .seccion-3 .search button {

    width: 15%;
    background-color: white;
    margin-top: 2px;
    border-radius: 0px 5px 5px 0px;
    border: none;
    color: #666;
    height: 24px;
    transition: .15s ease all;
    
}
.cabecera .seccion-3 .search button:hover {
    background-color: #ebebeb;
}


/* INDEX.html main */

main {
    background: #ebebeb;
    text-align: center;
}

.banner {
    height: 50vh;
}

.banner img {
    width: 100%;
    height: 100%;
}

main section {
    display: flex;
    height: 50%;
    background: white;
    padding: 10pt;
    margin: auto;
    flex-wrap: wrap;
}

main section article {
    width: 300px;
    height: 290px;
    padding: 10px;
    margin: 10px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10pt;
}

main section :hover {
    -webkit-box-shadow: 0px 2px 24px 0px #000000;
    box-shadow: 0px 2px 24px 0px #000000;
}

main section article :hover {
    -webkit-box-shadow: 0px 2px 24px 0px #000000;
    box-shadow: 0px 2px 24px 0px #000000;
}

main section article img {
    width: 90%;
    height: 70%;
}

main section article p {
    width: 100%;
    margin: 1px;
    padding: 3px;
}

main section article .description-product {
    display: none;
}


/* INDEX.html Footer */

footer {
    width: 100%;
    height: 45%;
    display: flex;
    background: rgba(139, 67, 67, 1);
    text-align: center;
    color: rgb(184, 184, 184);
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}

footer section {
    width: 33%;
    height: 100px;
    padding: 10px;
    /*border: 2px solid #542d2d;*/
    border-bottom: 2px solid #542d2d;
    color: white;
}

.seccion-2 {
    display: flex;
    justify-content: center;
}

.seccion-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-redes {
    padding: 15px;
    /*height: 9vh;*/
    color: white;
}

.contenedor-redes div {}


/* PRODUCTCART.html mobile first */

.main_cart .carrito_content {
    background-color: white;
}

.main_cart .carrito_content .carrito_head {
    display: flex;
    width: 100vw;
    height: 7vw;
    align-items: center;
    margin: auto;
    padding: 2px;
    background-color: rgba(156, 85, 242, 1);
}

.main_cart .carrito_content .carrito_head h2 {
    margin: auto;
    font-size: large;
    color: white;
}

.main_cart .carrito_content .product .encabezado {
    width: 100vw;
    display: none;
    flex-direction: row;
    padding: 2px;
}

.main_cart .carrito_content .product .encabezado h2 {
    display: none;
    width: 95%;
    font-size: medium;
    flex-direction: row;
    padding: 5px;
    margin: auto;
}

.main_cart .carrito_content .product .product_detail {
    display: flex;
    flex-direction: column;
    width: 95vw;
    padding: 2vw;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.main_cart .carrito_content .product .product_detail p {
    width: 95%;
    font-size: medium;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    padding: 2vw;
    justify-content: center;
    margin: auto;
}

.main_cart .carrito_content .product .product_detail p img {
    width: 80vw;
    display: flex;
    flex-direction: row;
    padding: 2vw;
}

.main_cart .carrito_content .product .product_detail .quantity {
    display: flex;
    width: 50%;
    text-align: center;
    padding: 0vw;
    font-size: 3vw;
    margin: auto;
}

.main_cart .carrito_content .notasytotal {
    display: flex;
    flex-direction: column;
}

.main_cart .carrito_content .notasytotal .notas {
    width: 80%;
    flex-direction: column;
    padding: 2vw;
    margin: auto;
}

.main_cart .carrito_content .notasytotal .notas p {
    display: flex;
    padding: 2vw;
    margin: 0%;
    align-content: flex-start;
}

.main_cart .carrito_content .notasytotal .notas .comentarios {
    display: flex;
    padding: 2vw;
    color: gray;
    margin: 0;
    height: 40vw;
}

.main_cart .carrito_content .notasytotal .notas .cupon {
    display: flex;
    padding: 2vw;
    color: gray;
    margin: 0;
    height: 20vw;
}

.main_cart .carrito_content .notasytotal .total {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    margin: auto;
}

.main_cart .carrito_content .notasytotal .total p {
    display: flex;
    padding: 2px;
    margin: 0%;
    text-align: start;
    align-content: flex-start;
    margin: auto;
}

.main_cart .carrito_content .notasytotal .total button {
    background-color: rgba(87, 103, 247, 1);
    border: none;
    padding: 1vw;
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    margin: auto;
}

.main_cart .carrito_content .notasytotal .total p .cbox1 {
    margin: 0;
}


/* PRODUCTDETAIL.html */

.main_productDetailt .producto_info {
    background-color: white;
}

.main_productDetail .producto_info .productdescript {
    background: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.main_productDetail .producto_info .productdescript .producto {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .producto img {
    width: 400px;
    height: 400px;
}

.main_productDetail .producto_info .productdescript .producto p {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .miniatura {
    display: flex;
    flex-direction: row;
    padding: 1vw;
    width: 30vw;
}

.main_productDetail .producto_info .productdescript .miniatura img {
    width: 50%;
}

.main_productDetail .producto_info .productdescript .description {
    width: 90vw;
}

.main_productDetail .producto_info .productdescript .description .uno {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.main_productDetail .producto_info .productdescript .description .uno i {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .description .uno img {
    margin: auto;
    width: 40px;
    height: 40px;
}

.main_productDetail .producto_info .productdescript .description .uno p {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .description .uno .cajita {
    border: rgba(237, 121, 83, 1) solid;
    background-color: rgba(237, 121, 83, 1);
    color: #fff;
}

.main_productDetail .producto_info .productdescript .description .uno .quantity {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.main_productDetail .producto_info .productdescript .description .uno .quantity input {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.main_productDetail .producto_info .productdescript .description .dos {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.main_productDetail .producto_info .productdescript .description .dos i {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .description .dos img {
    margin: auto;
    width: 40px;
    height: 40px;
}

.main_productDetail .producto_info .productdescript .description .dos p {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .description .dos .cajita {
    border: rgba(237, 121, 83, 1) solid;
    background-color: rgba(237, 121, 83, 1);
    color: #fff;
}

.main_productDetail .producto_info .productdescript .description .dos .quantity {
    display: flex;
    flex-direction: row;
}

.main_productDetail .producto_info .productdescript .description .tres {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.main_productDetail .producto_info .productdescript .description .tres i {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .description .tres img {
    margin: auto;
    width: 40px;
    height: 40px;
}

.main_productDetail .producto_info .productdescript .description .tres p {
    margin: auto;
}

.main_productDetail .producto_info .productdescript .description .tres .cajita {
    border: rgba(237, 121, 83, 1) solid;
    background-color: rgba(237, 121, 83, 1);
    color: #fff;
}

.main_productDetail .producto_info .productdescript .description .tres .quantity {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.main_productDetail .producto_info .productdescript .description .comprar_ahora {
    margin-top: 20px;
}

.main_productDetail .producto_info .productdescript .description .comprar_ahora {
    margin-top: 20px;
}



.main_productDetail .producto_info .productdescript .description .comprar_ahora .button-comprarAhora {
    margin-top: 20px;
    color: #fff;
    background-color: rgba(163, 73, 164, 1);
    border: none;
    font-weight: bold;
}

.main_productDetail .producto_info .productdescript .description .comprar_ahora .button-AgregarCarrito {
    margin-top: 20px;
    color: #fff;
    background-color: rgba(87, 103, 247, 1);
    border: none;
    font-weight: bold;
}

.main_productDetail .producto_info .descripcion_detalle {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: auto;
}

.main_productDetail .producto_info .descripcion_detalle .encabezado {
    display: flex;
    flex-direction: row;
    width: 95%;
}

.main_productDetail .producto_info .descripcion_detalle .encabezado .titulo {
    margin: auto;
    font-size: medium;
    font-family: 'Roboto Slab';
}

.main_productDetail .producto_info .descripcion_detalle p {
    margin: auto;
    text-align: justify;
    font-family: 'Roboto Slab';
    font-size: small;
}


/* REGISTER.html */

.main-register {
    width: 70vw;
    margin: 30px auto;
    padding: 4px;
    background-color: #fff;
    border: rgba(57, 55, 55, 0.3) solid 2px;
    color: #000;
    border-radius: 10px;
}

.main-register h3 {
    margin: 8px;
    font-family: 'Myanmar Khyay';
    text-align: left;
}

.form-register {
    display: flex;
    flex-direction: column;
    width: 100%;
    
 
}

.grupo input{
    background: none;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 1px solid black;
    display: block;
    margin: auto;
}

.grupo2 input{
        background: none;
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        border: none;
        display: block;
        margin: auto;
    }


.grupo input {
    background: blue;
    outline: none;
}


.form{
    width: 100%;
    margin: auto;
    background-color: blue;
}

form .grupo input{
    position: relative;
    background: none;
    
    
}

form .grupo label{

    color: rgb(122, 122, 126);
}

form .grupo input :focus{
    outline: none;
    }
    form .grupo label{
        display: flex;
        margin-left: 30px;
        position: relative;
    }



.form-register label,
input,
p {
    margin: 2px;
    width: 80%;
    padding: 10px;
    margin-left: 20px;
}

.form-register a {
    margin-left: 20px;
}

.button-register {
    margin-left: 45px;
    color: #fff;
    background-color: rgba(163, 73, 164, 1);
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

@media (min-width: 481px) {
    .main-register {
        width: 430px;
    }
}


/* LOGIN.html */

.main-login {
    width: 60vw;
    margin: 30px auto;
    padding: 4px;
    background-color: #fff;
    border: rgba(57, 55, 55, 0.3) solid 2px;
    color: #000;
    border-radius: 10px;
}

.main-login h3 {
    margin: 8px;
    font-family: 'Myanmar Khyay';
    text-align: left;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

/*cambios inicio */

form .grupo-ingreso input{
    width: 60vh;
    position: relative;
    background: none;
    
    
}

form .grupo-ingreso label{
    display: flex;
    justify-content: initial;
    color: rgb(122, 122, 126);
}


.grupo-ingreso input{
            
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            border: none;
            border-bottom: 1px solid black;
            display: block;
            margin: auto;
        }

.grupo-ingreso input{
    outline: none

}




/*cambios fin*/







.form-login label,
input,
p {
    margin: 2px;
    width: 80%;
    padding: 5px;
}

.form-login a {
    margin-left: 8px;
}

.button-login {
    color: #fff;
    background-color: rgba(163, 73, 164, 1);
    border: none;
    font-weight: bold;
    border-radius: 5px;
}


/* NEWPRODUCTS.html */

.container {
    width: 100%;
    margin: 0 auto;
}

.main-new-products {
    background: white;
    margin-top: 10px;
}

.main-new-products h3 {
    background: white;
}

.article-new-products {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 4px;
    border: rgba(57, 55, 55, 0.3) solid 2px;
    color: #000;
}

.main-new-products h3 {
    padding: 10px;
    text-align: start;
    margin-bottom: 10px;
}

.form-new-products {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
}

.form-new-products .input-file {
    width: 100%;
}

.form-new-products input,
select {
    width: 90%;
    margin: 15px;
    padding: 5px;
}

.form-new-products select {
    width: 50%;
}

.form-new-products p {
    text-align: center;
}

body main article label {
    text-align: justify;
    width: 40%;
    padding-left: 20px;
}

.div-discount-new-product {
    display: flex;
    width: 90%;
    justify-content: start;
    flex-wrap: nowrap;
}

.button-new-produt {
    color: #fff;
    background-color: rgba(163, 73, 164, 1);
    border: none;
    font-weight: bold;
    width: 80%;
    height: 45px;
}

@media (min-width: 481px) {
    .article-new-products {
        width: 430px;
        display: flex;
        flex-wrap: nowrap;
    }
}


/* EDITPRODUCTS.html */

.main-edit-products {
    padding: 10px;
}

.main-edit-products h3 {
    padding: 10px;
}

.form-edit-products {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
}

.form-edit-products .input-file {
    width: 70%;
}

.form-edit-products input,
select {
    margin: 15px;
    padding: 5px;
    width: 30%;
}

.form-edit-products select {
    width: 22%;
}

.form-edit-products p {
    text-align: left;
}

.main-edit-pruducts {
    background: white;
    margin-top: 10px;
}

.main-edit-pruducts h3 {
    background: white;
}

.article-edit-pruducts {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    padding: 4px;
    border: rgba(57, 55, 55, 0.3) solid 2px;
    color: #000;
}

.main-edit-pruducts h3 {
    padding: 10px;
    text-align: start;
    margin-bottom: 10px;
}

.form-edit-pruducts {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-start;
}

.form-edit-pruducts .input-file {
    width: 100%;
}

.form-edit-pruducts input,
select {
    width: 90%;
    margin: 15px;
    padding: 5px;
}

.form-edit-pruducts select {
    width: 50%;
}

.form-edit-pruducts p {
    text-align: center;
}

.form-edit-pruducts label {
    text-align: justify;
    width: 40%;
    padding-left: 20px;
}

.div-discount-edit-product {
    display: flex;
    width: 90%;
    justify-content: start;
    flex-wrap: nowrap;
}

.button-edit-produt {
    color: #fff;
    background-color: rgba(163, 73, 164, 1);
    border: none;
    font-weight: bold;
    width: 80%;
    height: 45px;
}


/*Tabla admin*/

.tablaadmin {
    width: 100%;
    background-color: #ffffff;

}

.tablaadmin .row {
    width: 100%;
    margin: auto;




}

.tablaadmin .row .tabla {

    margin: auto;
    width: 70%;
    margin-bottom: 1vw;

}

a {
    text-decoration: none
}

/*
.tablaadmin .row .tabla .contenedor{
    display: flex;   
    flex-direction: row;    
    width: 100%;
    height: 30vw;
    background-color: cyan;    
    margin: auto;
}
*/


@media (min-width: 481px) {
    .article-edit-pruducts {
        width: 430px;
        display: flex;
        flex-wrap: nowrap;
    }

    /* Listado de productos products.ejs */
    .main_products .products .products_article {
        background-color: white;
        padding: 10pt;
        border: 1vw;
        height: 100%;
        margin: auto;
    }
}

@media (min-width: 481px) {
    .main-login {
        width: 430px;
    }
}

@media(min-width:481px) {
    .cabecera .seccion-2 {
        justify-content: end;
    }

    .main_cart .carrito_content {
        background-color: white;
    }

    .main_cart .carrito_content .carrito_head {
        display: flex;
        width: 100vw;
        height: 7vw;
        align-items: center;
        margin: auto;
        padding: 2px;
        background-color: rgba(156, 85, 242, 1);
    }

    .main_cart .carrito_content .carrito_head h2 {
        margin: auto;
        font-size: large;
        color: white;
    }

    .main_cart .carrito_content .product .encabezado {
        width: 100vw;
        display: flex;
        flex-direction: row;
        padding: 2px;
    }

    .main_cart .carrito_content .product .encabezado h2 {
        display: flex;
        width: 95%;
        font-size: medium;
        flex-direction: row;
        padding: 5px;
        margin: auto;
        justify-content: space-around;
    }

    .main_cart .carrito_content .product .product_detail {
        width: 100vw;
        display: flex;
        flex-direction: row;
        padding: 2vw;
        border-top: 1px solid;
        border-bottom: 1px solid;
        justify-content: space-around;
    }

    .main_cart .carrito_content .product .product_detail .quantity {
        display: flex;
        width: 100%;
        text-align: center;
        padding: 0vw;
        font-size: 3vw;
        margin: auto;
    }

    .main_cart .carrito_content .product .product_detail p {
        width: 95%;
        font-size: medium;
        font-weight: bold;
        display: flex;
        flex-direction: row;
        padding: 2px;
        justify-content: center;
        margin: auto;
    }

    .main_cart .carrito_content .product .product_detail p img {
        width: 25vw;
        display: flex;
        flex-direction: row;
        padding: 2px;
    }

    .main_cart .carrito_content .notasytotal {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .main_cart .carrito_content .notasytotal .notas {
        width: 60%;
        flex-direction: column;
        padding: 2vw;
        margin-left: 8vw;
    }

    .main_cart .carrito_content .notasytotal .notas p {
        display: flex;
        padding: 2px;
    }

    .main_cart .carrito_content .notasytotal .notas .comentarios {
        display: flex;
        padding: 2px;
        color: gray;
        font-size: 12px;
        width: 100%;
        height: 10vw;
        margin: 0;
    }

    .main_cart .carrito_content .notasytotal .notas .cupon {
        display: flex;
        padding: 2px;
        color: gray;
        font-size: 12px;
        width: 100%;
        height: 5vw;
        margin: 0;
    }

    .main_cart .carrito_content .notasytotal .total {
        width: 50%;
        display: flex;
        margin-right: 8vw;
        flex-direction: column;
        padding: 2vw;
    }

    .main_cart .carrito_content .notasytotal .total p {
        display: flex;
        padding: 2vw;
    }

    .main_cart .carrito_content .notasytotal .total .acepto {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        flex-direction: column;
    }

    .main_cart .carrito_content .notasytotal .total button {
        background-color: rgba(87, 103, 247, 1);
        border: none;
        color: #fff;
        font-weight: normal;
        font-size: 20px;
    }

    .main_cart .carrito_content .notasytotal .total p .cbox1 {
        margin: 0;
    }

    /*/ configurando desktop del detalle producto/*/
}

@media (min-width: 700px) {

    /* PRODUCTDETAIL.html */
    .main_productDetailt .producto_info {
        background-color: white;
    }

    .main_productDetail .producto_info .productdescript {
        background: white;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }

    .main_productDetail .producto_info .productdescript .producto {
        margin: auto;
    }

    .main_productDetail .producto_info .productdescript .producto img {
        width: 400px;
        height: 400px;
    }

    .main_productDetail .producto_info .productdescript .producto p {
        margin: auto;
    }

    .main_productDetail .producto_info .productdescript .miniatura {
        display: flex;
        flex-direction: column;
        padding: 1vw;
        width: 200px;
    }

    .main_productDetail .producto_info .productdescript .miniatura img {
        width: 100%;
    }

    .main_productDetail .producto_info .productdescript .description {
        width: 95vw;
    }

    .main_productDetail .producto_info .productdescript .description .uno {
        display: flex;
        flex-direction: row;
        margin: 10px;
    }

    .main_productDetail .producto_info .productdescript .description .uno i {
        margin: auto;
    }

    .main_productDetail .producto_info .productdescript .description .uno img {
        margin: auto;
        width: 40px;
        height: 40px;
    }

    .main_productDetail .producto_info .productdescript .description .uno p {
        margin: auto;
    }

    .main_productDetail .producto_info .productdescript .description .uno .cajita {
        border: rgba(237, 121, 83, 1) solid;
        background-color: rgba(237, 121, 83, 1);
        color: #fff;
    }

    .main_productDetail .producto_info .productdescript .description .uno .quantity {
        display: flex;
        flex-direction: row;
    }

    .main_productDetail .producto_info .productdescript .description .dos {
        display: flex;
        flex-direction: row;
        margin: 10px;
    }

    .main_productDetail .producto_info .productdescript .description .dos i {
        margin: auto;
    }

    .main_productDetail .producto_info .productdescript .description .dos img {
        margin: auto;
        width: 40px;
        height: 40px;
    }

    .main_productDetail .producto_info .productdescript .description .dos p {
        margin: auto;
    }

    .main_productDetail .producto_info .productdescript .description .dos .cajita {
        border: rgba(237, 121, 83, 1) solid;
        background-color: rgba(237, 121, 83, 1);
        color: #fff;
    }

    .main_productDetail .producto_info .productdescript .description .dos .quantity {
        display: flex;
        flex-direction: row;
    }

    .main_productDetail .producto_info .productdescript .description .tres {
        display: flex;
        flex-direction: row;
        margin: 10px;
    }

    .main_productDetail .producto_info .productdescript .description .tres i {
        margin: auto;
    }

    .main_productDetail .producto_info .productdescript .description .tres img {
        margin: auto;
        width: 40px;
        height: 40px;
    }

    .main_productDetail .producto_info .productdescript .description .tres p {
        margin: auto;
    }

    .main_productDetail .producto_info .productdescript .description .tres .cajita {
        border: rgba(237, 121, 83, 1) solid;
        background-color: rgba(237, 121, 83, 1);
        color: #fff;
    }

    .main_productDetail .producto_info .productdescript .description .tres .quantity {
        margin: auto;
        display: flex;
        flex-direction: row;
    }

    .main_productDetail .producto_info .productdescript .description .comprar_ahora {
        margin-top: 20px;
    }

    .main_productDetail .producto_info .productdescript .description .comprar_ahora {
        margin-top: 20px;
    }

    .main_productDetail .producto_info .productdescript .description .comprar_ahora {
        margin-top: 20px;
    }

    .main_productDetail .producto_info .productdescript .description .comprar_ahora .button-comprarAhora {
        margin-top: 20px;
        color: #fff;
        background-color: rgba(163, 73, 164, 1);
        border: none;
        font-weight: bold;
    }

    .main_productDetail .producto_info .productdescript .description .comprar_ahora .button-AgregarCarrito {
        margin-top: 20px;
        color: #fff;
        background-color: rgba(87, 103, 247, 1);
        border: none;
        font-weight: bold;
    }

    .main_productDetail .producto_info .descripcion_detalle {
        display: flex;
        flex-direction: column;
        background-color: white;
        margin: auto;
    }

    .main_productDetail .producto_info .descripcion_detalle .encabezado {
        display: flex;
        flex-direction: row;
    }

    .main_productDetail .producto_info .descripcion_detalle .encabezado .titulo {
        margin: auto;
        font-family: 'Roboto Slab';
        font-size: medium;
    }

    .main_productDetail .producto_info .descripcion_detalle p {
        margin: auto;
        text-align: justify;
        font-family: 'Roboto Slab';
        font-size: small;
    }
}

@media (min-width: 481px) {
    .main-login {
        width: 430px;
    }
}

@media(max-width: 481px) {
    .contenedor-logo {
        width: 70px;
        position: absolute;
    }
}

@media(max-width:481px) {
    .cabecera .seccion-2 {
        justify-content: end;
        background-color: blue;
        display: none;
    }
}

@media(max-width:481px) {
    .cabecera .seccion-3 {
        justify-content: end;
        background-color: blue;
        display: none;
    }
}

@media (max-width:600px) {
    footer section {
        width: 100%;
        height: 100px;
        padding: 10px;
        border: 2px solid #542d2d;
    }
}