/*
Colores
#8b7171 #a68382 #393737 #bb8e8e #dfcbca

Tipografías
Roboto Slab (https://fonts.google.com/specimen/Roboto+Slab)
Alegreya (https://fonts.google.com/specimen/Alegreya)
Myanmar Khyay (https://es.ffonts.net/Myanmar-Khyay.font)
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab';
}

/* INDEX.html */


/* INDEX.html Header */

.cabecera{
    display: flex;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cabecera .seccion-1{
    display: flex;
    color: brown;

    width: 50%;
    flex-wrap: wrap;
    width: 50%;    
}
.cabecera .seccion-1 a{
    color: brown;
    }
.cabecera .seccion-2{
    display: flex;
    color: brown; 
    text-decoration: none;
    width: 50%;
    justify-content: end;
    padding: 20px;
    flex-wrap: wrap;

    
}

.cabecera .contenedor-logo{
   
    
    width: 10vh;
    height: 10vh;
}

.cabecera .contenedor-logo img {
   
    width: 100%;
    
}

main{
    background: #ebebeb;
}

/* PRODUCTCART.html */

/* PRODUCTDETAIL.html */

/* REGISTER.html */

.main-register {
    border: solid red 2px;
    width: 90vw;
    margin: 30px auto;
    padding: 2px;
}

.form-register {    
    display: flex;    
    flex-direction: column;
    padding: 10px;
}

.form-register label, input {
    margin: 2px;
    width: 80%;
    padding: 10px;
}

@media (min-width: 481px) {
    .main-register {
        width: 430px;
    }
}    

/* LOGIN.html */