<footer>

    <section >
            
            <div class="contenedor-logo-footer">
                <P>Contáctenos</P>
                <img src="./images/logo/PL_Fondo_rape_oscuro.png" alt="Logo de Parfum Légende">
            </div>
            <div class="div-redes">
                <a class="logo-facebook" href=""> <i class="fab fa-facebook"></i></a>
                <a class="logo-instagram" href=""> <i class="fab fa-instagram"></i></a>
                <a class="logo-whatsapp" href=""> <i class="fab fa-whatsapp"></i></a>
            </div>

    </section>

    <section >
        <a class="logo-instagram" href=""> <i class="fab fa-instagram"></i></a>        
    </section>

    <section>

    </section>

   

</footer>