<footer>

    <section >
        <h3>Categoria</h3>
            

    </section>

    <section >
        <h3>Cuenta</h3>   
    </section>

    <section>
        <h3>Contactenos</h3>
        <a class="logo-instagram" href=""> <i class="fab fa-instagram"></i></a>     
    </section>

    <p>Copyright © 1999-2020 Parfum Légende S.R.L.</p>

</footer>