<footer>

    <P>Contáctenos</P>
    <p>
        <a class="logo-facebook" href=""> <i class="fab fa-facebook"></i></a>
        <a class="logo-instagram" href=""> <i class="fab fa-instagram"></i></a>
        <a class="logo-whatsapp" href=""> <i class="fab fa-whatsapp"></i></a>
    </p>

    <p>Copyright © 2021 Parfum Légende</p>

</footer>