<footer>


    <section class="seccion-1">
        <h4>Contactenos</h4>
        <article class="contenedor-redes">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-whatsapp"></i>
            <i class="fab fa-instagram"></i> 
        </article>

    </section>
    <section>
        
    </section>

    <section class="seccion-2">    
        <p>Suscríbete y entérate de nuestras ofertas y productos</p>
    </section>


    <section class="seccion-3" >

        <i class="fas fa-user-shield"></i>
        <p>Compra 100% Segura</p>
        
       
    </section>
        
        <p>Compyright © 1999-2021 Parfum Légende S.R.L.</p>

    



    

</footer>