<header class="cabecera">

    <section class="seccion-1">
        <div class="contenedor-logo">
            <a href="/"> <img src="/images/logo/PL_Fondo_rape_oscuro.png" alt="Logo de Parfum Légende"></a>
        </div>
        <H1>Parfum Légende</H1>
        <nav>
            <p><a href="/register"><i class="fas fa-user"></i></a></p>
            <p><a href="/login"><i class="fas fa-sign-in-alt"></i></a></p>
            <p><a href="/products/cart"><i class="fas fa-shopping-cart"></i></a></p>
        </nav>
    </section>

    <section class="seccion-2">
        <p>¡Compra desde casa y paga contra entrega!</p>
    </section>

    <section class="seccion-3">
        <form action="#" method="get">
            <input type="search" value="" placeholder="Buscar perfume, marca...">                
       </form>
    </section>

</header>